
<% if user_signed_in? %>
	<ul>
	  <% current_user.chatrooms.each do |chatroom| %>
	    <li><%= link_to chatroom.name, chatroom, data: {behaviour: "chatroom-link", chatroom_id: chatroom.id} %></li>
	  <% end %>
	</ul>
<% end %>
